@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap'); 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.nav{
    position:fixed; /* so that navbar is fixed even when we scroll*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background-color: #222;
    z-index: 10000; /*  THis will make navbar stay on top always. Elements with a higher index will be placed on top of elements with a lower index. Note: 
    Z index only works on positioned elements ( position:absolute , position:relative , or position:fixed*/

}

.nav h2{
    color:#fff;
    font-size: 1.7rem; /* font size is recomended to be in rem*/  
}

#item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li{
    list-style: none; /* remmoves bullet from list*/ 
    padding-right: 50px;
}

#item li a{
    text-decoration: none; /* remmoves underline from list*/ 
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}

#item li a:hover, #item .icon i:hover{  /* hover effect*/
    color:#ff5733;
    cursor:pointer;
}

#item .icon i{
    color: #fff;
    padding-right: 30px;
    font-weight: bolder;
}

/* adding and styling hamburger iccon, adding during responsiveness adjustment*/
#bar{
    color: #ff5733;
    font-weight: lighter;
    font-size: 1.5rem;
    display:none /* this hides the display for you to bring up durign responsiveness adjustment*/

}
/*----- END OF NAV SECTION-----*/
.back{
    background-image: url(img/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size:cover;
    z-index: -1;
}

.back .overlay{
    background: #171819;
    width:100%;
    height:100%;
    opacity:0.85%;
}

.mid{
    position:absolute; /* brings text to the middle*/
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.mid p{
    color: #7f8c8d;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}

.mid h2{
    color: #fff;
    font-size: 3rem;
}

.mid .btn{
margin-top: 2rem;
}

.mid .btn a{
    text-decoration: none;
    text-transform: uppercase;
}

.mid .btn a.simple{
    color:#fff;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
}


.mid .btn a.simple:hover{
    color: #ff5733;
}
.mid .btn a.border{
    color:#ff5733;
    border: 1px solid #ff5733;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border-radius: 3px;
}

.mid .btn a.border:hover{
    background: #fff;
    border:1px solid #fff;
}
/*---- SECOND SECTION ----- */
.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
    background-color: #171819;
}

.details h3,h6,h5{
    color: #fff;
}

.details .one{
    width: 45%;
    display: flex;   /* helps us create a full width button*/
    flex-direction: column;
    justify-content: flex-start;
}
.details .one h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}

.details .one h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
}

.details .one p{
    color: #666262;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}
.details .one a{
    color: #fff;
    background: #f13a11;
    padding: 1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
/* Hover efect*/
.details .one a:hover{
    background: #fff;
    color: #f13a11;
}

.details .two{
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 4rem;
}

.details .two h3{
    font-size: 2.5rem;

}

.details .two h5{
    font-size: 1.1rem;
}

.details .two p{
    color: #666262;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

/* THIRD SECTION*/

.trainer{
    background: #f9f9f9;
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trainer .about{
    width: 39%;
}

.trainer .about h2{
    color: #212529;
    font-size: 2.1rem;
    padding-bottom: 1.8rem;
}

.trainer .about p{
    color: #7f8c8d;
    font-size: 1.1rem;
    text-align: justify;
}
.trainer .people{
    width: 57%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer .people .team1{
    width: 45%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow:4.5px 4.5px 3.6px rgba(0, 0, 0, 0.031),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.045),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.059),
    100px 100px 80px rgba(0, 0, 0, 0.09);

}

.trainer .people .team1 .img img{
    width: 100%;
    object-fit: cover;
}

.trainer .people .team1 .name, .trainer .people .team1 .profession{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer .people .team1 .name{
    padding: 5px 20px 0 20px;
}

.trainer .people .team1 .teamDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.trainer .people .team1 .name h4{
    color: #212529;
    font-size: 1.5rem;
}


.trainer .people .team1 .name i, .trainer .people .team1 .profession i{
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    color: #212529;
}

.trainer .people .team1 .profession{
    padding: 0 20px 5px 20px;
}
.trainer .people .team1 .profession p{
    color: #212529;
}

/* fourth section */

.class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 8rem;
}

.class .paragraph{
    font-size: 1.3rem;
    color: #95a5a6;
    padding-bottom: 6px;
    text-align: center;
}

.class .h2{
    font-size: 2.2rem;
    color:#222;
    font-weight: 700;
    padding-bottom: 50px;
    text-align: center;
}

.class .classMenu .team1{
        width: 32%;
        height: auto;
        box-sizing: border-box;
        background: #fff;
        box-shadow:4.5px 4.5px 3.6px rgba(0, 0, 0, 0.031),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.045),
        30.1px 30.1px 24.1px rgba(0, 0, 0, 0.059),
        100px 100px 80px rgba(0, 0, 0, 0.09);
    
    }
    .class .classMenu .team1 .img img{
        width: 100%;
        object-fit: cover;
    }

    .class .classMenu .team1 .teamDetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
    }

    .class .classMenu .team1 .teamDetails .name{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 30px 0 30px;
    }
.class .classMenu .team1 .teamDetails .name .nameDetails h4{
    color: #212529;
    font-size: 1.7rem;
}

.class .classMenu .team1 .teamDetails .name .nameDetails p{
    color: #212529;
    font-size: 1.1rem;
}

.class .classMenu .team1 .teamDetails .name .nameDetails p span{
    font-weight: 700;
    font-size: 1.1rem;
 }

 .class .classMenu .team1 .teamDetails .name .num h5{

    font-size: 1rem;
    background: #f13a11;
    width: 3.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    text-align: center;
    border-radius: 50%;
}

.class .classMenu .team1 .profession{
    padding: 15px 30px 30px 30px;
}

.class .classMenu .team1 .profession p{

    font-size: 1.1rem;
    color: #666262;
}
.classMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Contact FOrm*/
.contact{
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact .form{
    width: 45%;
}

.contact .form h2{
    font-size: 2rem;
    color:#212529;
    padding-bottom: 10px;
    width: 100%;
}

.contact .form .submit{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact .form .submit input, .contact .form .submit textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid #95a5a6;
    outline: none;
    margin: 13px 0; /* creates space within fills*/
}

.contact .form .submit input:focus, .contact .form .submit textarea:focus{  /* changes border color on clicking box*/
    border:1px solid #111;
}

.contact .form .submit input::placeholder{
    color: #7f8c8d;
    font-size: 1.1rem;
}

.contact .form .submit textarea::placeholder{
    color: #7f8c8d;
    font-size: 1.1rem;
    height: 80%;
}

.contact .form .submit a{
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    background: #111;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    margin: 13px 0;
}

/* to arrange map and contact form*/


.contact .map{
    width: 45%;
}

.contact .map h2{
    font-size: 2rem;
    color:#212529;
    padding-bottom: 10px;
    width: 100%;
}

.contact .map p{
    font-size: 1.1rem;
    color:#212529;
    padding-bottom: 30px;
    width: 100%;
}

.contact .map p i{
    color: #f13a11;
    padding-right: 4px;
}


.contact .map iframe{
    width: 100%;
}

/*---- Sixth Section/ Footer-----*/

.footer{
    border-top: 1px solid #ecf0f1;
    padding: 5rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer p{
    color: #7f8c8d;
    justify-content: flex-start;
}

.footer p i{
    color: #f13a11;
    padding-right: 5px;
}

/* --Media Query -*/

@media screen and (max-width: 1042px){
    .nav{
        padding: 1rem 4.5rem;
    }
    .nav h2{
        font-size: 1.4rem; 
    }
   
    #item li{
        padding-right: 30px;
    }
    
    #item li a{
        font-size: 0.9rem;
    }
    #item .icon i{
        padding-right: 20px;
    }        

}

@media screen and (max-width: 991px){
    .nav{
        padding: 1rem 3rem;
    }
    
    .nav h2{
        font-size: 1.6rem; 
    }
    
    #item{
        flex-direction: column; 
        text-align: center;
        width: 300px;
        height:80vh;
        position: fixed;
        top: 0;
        right: -300px; /* pushes it to the right and will disappear until you make hamburger clickable*/
        background: rgba(0,0,0,0.8);
        z-index:100000;
        margin-top: 4.2rem;
        transition: 0.5s;
    }
    
    #item li{
        padding-right: 0px;
        padding: 4px 0px;
    }
    
    #item li a{
        font-size: 1.2  rem;
    }

    #item .icon {  /* freshly added*/
        padding-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #item .icon i{
        padding:0 15px 0 15px; /* top, right, bottom, left*/
    }
    
    /* adding and styling hamburger iccon, adding during responsiveness adjustment*/
    #bar{
        display:initial; /*  bring up durign responsiveness adjustment*/
        cursor: pointer;
}

    .mid{
        position:absolute; /* brings text to the middle*/
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .mid p{
        color: #7f8c8d;
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
    }

    .mid h2{
    
        font-size: 2.5rem;
    }

    .mid .btn{
    margin-top: 1.5rem;
    }

    .mid .btn a{
        font-size: 0.9rem;
    }

    .mid .btn a.simple{
    
        padding: 0.7rem 1.4rem;
    }


    .mid .btn a.border{
        padding: 0.7rem 1.4rem;
    
    }

    /* adjusting details section*/

    .details{
        padding: 6rem 7rem;
    }

    .details .one{
        width: 50;
    }
    .details .one h3{
        font-size: 2rem;
        padding-bottom: 1rem;
    }


    .details .one p{
        font-size: 1.1rem;
        padding-bottom: 2.2rem;
    }
    .details .one a{
    font-size: 0.9rem;
    }


    .details .two{
        padding-left: 3.5 rem;
    }

    .details .two h3{
        font-size: 2rem;

    }

    .details .two h5{
        font-size: 1rem;
    }

    .details .two p{
        font-size: 1rem;
        margin-bottom: 0.6rem;
    }

/**----Trainer/Third Section--*/


    .trainer{
        padding: 6rem 7rem;
    }

    .trainer .about h2{
        font-size: 2rem;
        padding-bottom: 1.4rem;
    }

    .trainer .about p{
        font-size: 1.1rem;
    }

    .trainer .people .team1{
        width: 48%;
    }

    .trainer .people .team1 .name{
        padding: 5px 15px 15px 20px;
    }

    .trainer .people .team1 .name h4{
        font-size: 1.1rem;
    }


    .trainer .people .team1 .name i, .trainer .people .team1 .profession i{
        font-size: 1.1rem;
    }

    .trainer .people .team1 .profession{
        padding: 0 15px 15px 20px;
    }

/**----Claases/Fourth Section--*/


    .class{
        padding: 6rem;
    }

    .class .paragraph{
        font-size: 1.1rem;
        padding-bottom: 4px;
    }

    .class .h2{
        font-size: 2rem;
        padding-bottom: 30px;
    }

    .class .classMenu .team1 .teamDetails{
        padding-bottom: 7px;
    }

    .class .classMenu .team1 .teamDetails .name{
        padding: 5px 15px 0 15px;
    }
    .class .classMenu .team1 .teamDetails .name .nameDetails h4{
        font-size: 1.2rem;
    }

    .class .classMenu .team1 .teamDetails .name .nameDetails p{
        font-size: 1rem;
    }

    .class .classMenu .team1 .teamDetails .name .nameDetails p span{
        font-size: 1rem;
    }

    .class .classMenu .team1 .teamDetails .name .num h5{

        font-size:0.9rem;
        width: 3.2rem;
        height: 3.2rem;
        line-height:3.2rem;
    }

    .class .classMenu .team1 .profession{
        padding: 15px 15px 30px 15px;
    }

    .class .classMenu .team1 .profession p{

        font-size: 1rem;
    }

/**----Contact/Fifth Section--*/

    .contact{
        padding: 6rem;
    }

    .contact .form h2{
        font-size: 2rem;
        padding-bottom: 7px;
    }


    .contact .form .submit input, .contact .form .submit textarea{
        padding: 12px;
        margin: 10px 0; /* creates space within fills*/
    }


    .contact .form .submit input::placeholder{
        font-size: 1rem;
    }

    .contact .form .submit textarea::placeholder{
        font-size: 1rem;
    }

    .contact .form .submit a{
        padding: 13px 0;
        font-size: 1rem;
        margin: 10px 0;
    }

    /* to arrange map and contact form*/


  
    .contact .map h2{
        font-size: 2rem;
        padding-bottom: 7px;
    }

    .contact .map p{
        font-size: 1rem;
        padding-bottom: 20px;
    }


/**----Footer/Sixth Section--*/

    .footer{
        padding: 6rem;
    }

}

@media screen and (max-width: 768px){
    
}


@media screen and (max-width: 496x){
    
}